.header__title {
    font-weight: 700;
}

.banner {
    margin: 1em;
    margin-bottom: 7em;
}

.banner__image {
    height: 238px;
    margin: 4em 0;
}

.info__title {
    font-family: var(--font-general);
    font-size: 48px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 1em;
    line-height: 71px;
}

.info__text {
    font-family: var(--font-general);
    font-size: 18px;
    font-weight: 400;
    color: #4F4F4F;
    line-height: 27px;
    width: 90%;
}

.banner__link {
    font-family: var(--font-general);
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
    background-color: #333;
    padding: 2em 2.5em;
    margin-top: 4em;
    text-decoration: none;
    display: inline-block;
}

@media screen and (min-width: 1025px) {
    .header__title{
        margin-left: 4.5em;
    }

    .banner {
      display: flex;
      justify-content: space-around;
      align-items: center   ;
      margin-top: 12.5em;
      padding: 0 5em;
    }

    .banner__info {
        display: flex;
        flex-direction: column;
        justify-content: right;
        margin-left: 7.5em;
    }

    .banner__link {
        width: 10vw;
    }

    .info__title {
        width: 90%;
        font-size: 64px;
    }

    .info__text {
        width: 60%;
    }

    .banner__image {
        height: 447px;
        margin: 4em 0;
    }

    .info__text {
        font-size: 24px;
    }
}
